<div class="dialog-container" *ngIf="showDialog">
    <div class="main-content">
        <div class="container-fluid">
            <h2>Limited access</h2>
            <div>
                <p>Enter password :</p>
                <input class="form-control" type="password" [(ngModel)]="inputValue">
            </div>
            <div class="OK">
                <button mat-button (click)="onClick()" class="btn btn-round btn-fill btn-success">OK</button>
                <p class="message" *ngIf="showMessage">Wrong password</p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showUsers">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div>
                    <div class="card">
                        <div class="header text-center">
                            <h4 class="title">Users Management </h4>
                            <p class="category">Efficiently manage user permissions and access levels from a single,
                                centralized location.</p>
                            <br>
                        </div>
                        <div class="content table-responsive table-full-width table-upgrade">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="text-center">First name</th>
                                        <th class="text-center">Last name</th>
                                        <th class="text-center">Username</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Address</th>
                                        <th class="text-center">City</th>
                                        <th class="text-center">Country</th>
                                        <th class="text-center">Postal code</th>
                                        <th class="text-center">Description</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let u of users">
                                        <td>{{ u.id}}</td>
                                        <td>{{u.fname}}</td>
                                        <td>{{u.lname}}</td>
                                        <td>{{u.username}}</td>
                                        <td>{{u.email}}</td>
                                        <td>{{u.address}}</td>
                                        <td>{{u.city}}</td>
                                        <td>{{u.country}}</td>
                                        <td>{{u.code}}</td>
                                        <td>{{u.description}}</td>
                                        <td class="td-actions text-right">
                                            <button mat-raised-button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-success btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button mat-raised-button type="button" rel="tooltip"
                                                (click)="openCustomAlert()" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>