<div class="print-btn">
    <button type="button" class="btn btn-outline-success" (click)="generatePdf()"><i class="pe-7s-print"></i></button>
</div>
<div class="text-center">
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="to-print" class="space card">

                        <div class="form-group">
                            <h2 for="clients">Client</h2>
                            <select class="form-control" id="clients" name="clients" [(ngModel)]="selectedName"
                                *ngIf="clients" (change)="getClientByName()">
                                <option *ngFor="let c of clients || []" [value]="c.name">{{c.name}}</option>
                            </select>
                        </div>
                        <h3>General characteristic</h3>
                        <div class="row">
                            <div class="col-xs-6">Name</div>
                            <div class="col-xs-6">{{ client.name }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Email</div>
                            <div class="col-xs-6">{{ client.email }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">City</div>
                            <div class="col-xs-6">{{ client.city }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Address</div>
                            <div class="col-xs-6">{{ client.address }}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Size</div>
                            <div class="col-xs-6">{{ client.irrigated }} irrigated & {{ client.noirrigated }} no irrigated</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">Total</div>
                            <div class="col-xs-6">{{ client.total }}</div>
                        </div>
                        <table id="myTable" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Kind</th>
                                    <th scope="col">Variety</th>
                                    <th scope="col">Density(number/ha)</th>
                                    <th scope="col">planting year</th>
                                    <th scope="col">Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of rowData1">
                                    <td><label>{{row.kind}}</label>
                                    </td>
                                    <td><label>{{row.variety}}</label>
                                    </td>
                                    <td class="d-flex align-items-center flex-wrap nowrap"
                                        style="display: inline-flex; align-items: center;">
                                        <div class="col-3">
                                            <!-- <label>10000/ {{row.densitye}} x {{row.densityE}} ={{10000/row.densitye*row.densityE}}</label> -->
                                            <label>{{row.density}}</label>
                                        </div>
                                    </td>

                                    <td><label>{{row.plantingYear}}</label>
                                    </td>
                                    <td><label>{{row.size}}</label>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                        <h3> hydraulic network</h3>
                        <table id="myTable" class="table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Depth</th>
                                    <th scope="col">Flow</th>
                                    <th scope="col">Salinity</th>
                                    <th scope="col">Equipment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row2 of rowData2">
                                    <th>water source</th>
                                    <td>{{row2.id}}</td>
                                    <td>{{row2.depth}}</td>
                                    <td>{{row2.flow}}</td>
                                    <td>{{row2.salinity}}</td>
                                    <td>{{row2.equipment}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="myTable" class="table">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">ID</th>
                                    <th scope="col">capacity</th>
                                    <th scope="col">Betan</th>
                                    <th scope="col">Equipment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row3 of rowData3">
                                    <th>pond</th>
                                    <td>{{row3.id}}</td>
                                    <td>{{row3.capacity}}</td>
                                    <td>{{row3.betan}}</td>
                                    <td>{{row3.equipment}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3> Plan</h3>
                            <table id="myTable" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" rowspan="2">Sector</th>
                                        <th scope="col" rowspan="2">Area(ha)</th>
                                        <th scope="col" colspan="3">Gte</th>
                                        <th scope="col" rowspan="2">Flow/sector</th>
                                    </tr>
                                    <tr>
                                        <th scope="col">Nature</th>
                                        <th scope="col">Egg</th>
                                        <th scope="col">Flow/g</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row4 of plan">
                                        <td>{{row4.sector}}</td>
                                        <td>{{row4.area}}</td>
                                        <td>{{row4.nature}}</td>
                                        <td>{{row4.egg}}</td>
                                        <td>{{row4.flowg}}</td>
                                        <td>{{row4.flows}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3> soil</h3>
                            <label>homogeneous: {{ client.homogenous }}</label>
                            <br><br>
                            <label>heterogeneous: {{ client.heterogenous }} </label>
                            <br>
                                <label for="">Clay: {{ client.clay }}</label>&nbsp;
                                <label for="">Silt: {{ client.silt }}</label>&nbsp;
                                <label for="">Sand: {{ client.sand }}</label>&nbsp;
                                <label for="">Limestone: {{ client.limestone }}</label>&nbsp;
                                <label for="">Gypsum: {{ client.gypsum }}</label>    
                </div>
            </div>
        </div>
    </div>
</div>