<div class="modal">
  <div class="modal-container">
    <div class="modal-left">
      <h1 class="modal-title">Welcome!</h1>
      <p class="modal-desc">It's a pleasure to have you with us today!</p>
      <div class="input-block">
        <label for="email" class="input-label">Email</label>
        <input type="email" name="email" id="email" placeholder="Email">
      </div>
      <div class="input-block">
        <label for="password" class="input-label">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
      <div class="modal-buttons">
        <a href="" class="">Forgot your password?</a>
        <button class="input-button" (click)="onLogin()">Login</button>
      </div>
      <p class="sign-up">Don't have an account? <a href="#">Sign up now</a></p>
    </div>
    <div class="modal-right">
      <img src="../../assets/img/olive.jpg" alt="">
    </div>
    <button class="icon-button close-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
        <path
          d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z">
        </path>
      </svg>
    </button>
  </div>
  <div style="display: flex; flex-direction: row;">
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center">

        <nav id="navbar" class="navbar">
          <a class="logo me-auto" href="index.html"><img src="../../assets/img/logo.png">AgriConsulting</a>
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#clients">Clients</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            <li><a class="modal-button getstarted scrollto " href="#about">Get Started</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

      </div>
    </header>
  </div>
</div>

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>AgriConsulting</span></h2>
            <p class="animate__animated animate__fadeInUp">Helping agriculture and food companies and organizations
              navigate disruptive trends and technologies, including shaping the broader food system.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>


      <!-- <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut
              et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse
              doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>

      
      <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
            <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut
              et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse
              doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
          </div>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a> -->

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services section-bg">
    <div class="container">

      <div class="row no-gutters">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-laptop"></i></div>
            <h4 class="title"><a href="">Farm management consulting</a></h4>
            <p class="description justify-p">Our expert guidance on soil health, irrigation, crop selection,
              and pest management can help you improve yields, reduce costs, and maximize profitability.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Market analysis and strategy</a></h4>
            <p class="description justify-p">Our insights into consumer preferences and emerging opportunities can help you
              optimize your pricing, product mix, and distribution channels.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Sustainability consulting</a></h4>
            <p class="description justify-p">Our help in navigating complex regulations, accessing funding for green initiatives,
              and implementing sustainable practices can differentiate your farm in the marketplace and enhance your
              brand reputation.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About Us</h2>
        <p>AgriConsulting collects data and consults with farmers to help them grow better crops and navigate complex
          and changing environmental regulations.
          We help farmers optimize soil fertility, identify and control pests, and manage the land to minimize erosion
          and nutrient losses. AgriConsulting believes in farming, science-based decision making,
          and that each of us makes a difference for farmers today and for future generations.</p>
      </div>

      <div class="row about-container">
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="assets/img/about.jpg" class="img-fluid img-about" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Get to know AgriConsulting and how we can help your farm thrive.</h3>
          <p class="fst-italic justify-p">
            At AgriConsulting, we are passionate about helping agricultural farms succeed.
            Our team of experts brings years of experience and knowledge to every project,
            providing customized solutions that are tailored to each client's unique needs.
            We pride ourselves on our commitment to sustainability, innovation, and customer satisfaction.
            Our goal is to help our clients maximize their yields, reduce their costs,
            and achieve long-term success in the agricultural industry.
            Contact us today to learn more about how we can help your farm thrive.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="wu-container">

        <div class=" content-item">
          <span>01</span>
          <h4>Expertise</h4>
          <p class="justify-p">Our team of experienced consultants have deep knowledge of the agricultural industry
            and can provide customized solutions tailored to your farm's unique needs.</p>
        </div>

        <div class=" content-item">
          <span>02</span>
          <h4>Innovation</h4>
          <p class="justify-p">We stay up-to-date with the latest technologies and trends in agriculture,
            and can help you adopt innovative approaches to improve efficiency and profitability.
          </p>
        </div>

        <div class=" content-item">
          <span>03</span>
          <h4> Sustainability</h4>
          <p class="justify-p">We are committed to sustainable practices and can help you implement environmentally-friendly solutions
            that benefit both your farm and the planet.</p>
        </div>

        <div class=" content-item">
          <span>04</span>
          <h4>Results-oriented</h4>
          <p class="justify-p">We are focused on achieving measurable results for our clients,
            whether that means increasing yields, reducing costs, or improving quality.</p>
        </div>

        <div class=" content-item">
          <span>05</span>
          <h4>Customer service</h4>
          <p class="justify-p">We prioritize customer satisfaction and provide responsive, personalized support to all of our clients.</p>
        </div>

        <div class=" content-item">
          <span>06</span>
          <h4>Competitive pricing</h4>
          <p class="justify-p">We offer competitive pricing for our consulting services,
            ensuring that you receive maximum value for your investment.</p>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Our Clients Section ======= -->
  <section id="clients" class="clients">
    <div class="container">

      <div class="section-title">
        <h2>Our Clients</h2>
        <p>We believe in building long-term relationships with our clients, and many of them have been with us for
          years.
          We value each and every one of our clients and are committed
          to providing them with the highest quality consulting services to help their farms succeed.</p>
      </div>

        <div class="swiper-inline">
          <div class="swiper-slide"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div>
          <div class="swiper-slide"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
      

    </div>
  </section><!-- End Our Clients Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p class="justify-p">We advise clients across the agricultural value chain on a broad range of topics,
          including but not limited to:</p>
      </div>

      <div class="wu-container">
        <div data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img src="assets/img/services/service1.png">
            </div>
            <h4><a href="">Financial management</a></h4>
            <p class="justify-p">Our financial consulting can help you optimize your cash flow, reduce your costs, and identify new
              revenue streams.</p>
          </div>
        </div>

        <div data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <img src="assets/img/services/service2.png">
            </div>
            <h4><a href="">Technology consulting</a></h4>
            <p class="justify-p">Our technology experts can help you identify and implement innovative technologies that can help you
              streamline your operations and improve efficiency.</p>
          </div>
        </div>

        <div data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <img src="assets/img/services/service3.png">
            </div>
            <h4><a href="">Supply chain optimization</a></h4>
            <p class="justify-p">Our supply chain experts can help you optimize your supply chain, reduce lead times, and manage your
              inventory more effectively.</p>
          </div>
        </div>

        <div data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-yellow">
            <div class="icon">
              <img src="assets/img/services/service4.png">
            </div>
            <h4><a href="">Market research</a></h4>
            <p class="justify-p">Our market research can help you identify new opportunities, evaluate competitive threats, and position
              your products for success.</p>
          </div>
        </div>

        <div data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-red">
            <div class="icon">
              <img src="assets/img/services/service5.png">
            </div>
            <h4><a href="">Product development and testing</a></h4>
            <p class="justify-p">Our expertise in product development and testing can help you create new products, refine existing
              products,
              and ensure that your products meet the highest quality standards.</p>
          </div>
        </div>

        <div data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-teal">
            <div class="icon">
              <img src="assets/img/services/service6.png">
            </div>
            <h4><a href="">Soil Sampling and Mapping</a></h4>
            <p class="justify-p">Good decisions start with good data. Good fertility and nutrient management data start with taking good
              samples.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">

      <div class="row cta-container">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Call To Action</h3>
          <p> If you have any questions or would like to learn more about our consulting services,
            we would be happy to speak with you. We are available to answer your calls and emails promptly
            and provide you with the information you need to make an informed decision about working with us.
          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn " href="#">Call To Action</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Team</h2>
        <p>We have a team of highly skilled and experienced consultants who are passionate about helping
          agricultural farms succeed. Above all, our team is committed to delivering exceptional customer service
          and building long-term relationships with our clients.
          Get to know our team and find out how we can help your farm thrive.</p>
      </div>

      <div id="team-members" class="row">
        <div class="member">
          <img src="assets/img/team/team-1.jpg" alt="">
          <h4>Ahmed TRIKI</h4>
          <span>Founder and lead consultant at AgriConsulting</span>
          <p class="justify-p">
            With 8 years of experience in the agricultural industry,
            Mr. TRIKI has a deep understanding of the challenges faced by farms of all types and sizes.
            He holds a Degree in agricultural engineering from Higher Agronomic Institute of Chott Mariem,
            and has worked with a variety of clients across Tunisia.
          </p>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="biography">
          <p class="justify-p">At AgriConsulting, Mr. TRIKI provides a range of consulting services to help agricultural farms succeed.
            His areas of expertise include Regueb, Meknassi and Hbira.
            He is dedicated to working closely with clients to understand their unique needs and goals,
            and to providing tailored solutions that help them achieve success.
          </p>
          <p class="justify-p">

            Mr. TRIKI's approach to consulting is rooted in a deep commitment to customer service and delivering
            measurable results.
            He believes in taking a collaborative approach with clients, working together to identify and address
            challenges
            and to achieve shared goals. His track record of success has earned him
            a reputation as a trusted advisor and consultant within the agricultural industry.
          </p>
          <blockquote>
            <p class="justify-p">
              Don't just take our word for it - here's what some of Mr. TRIKI's satisfied clients have to say:
            </p>
            <q><cite class="justify-p"> with AgriConsulting has been a game-changer for our farm.
                Their innovative strategies and attention to detail have helped us increase efficiency and
                profitability.</cite></q>
          </blockquote>
          <br>
          <p class="justify-p">
            In addition to his consulting work, Mr. TRIKI has also built a strong network of partnerships
            with other agricultural consultants and specialists.
            He collaborates with these partners to provide clients with the most comprehensive and effective solutions
            possible.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>We are here to help you! Contact us by phone, email, or by filling out the contact form on our website
          for prompt and professional support. Whether you have a question, want to schedule a consultation,
          or just want to say hello, we would love to hear from you.
          Our team of experts is standing by to help your farm achieve its full potential.</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="fas fa-location"></i>
              <h4>Location:</h4>
              <p>Sakiet ez-Zit, Sfax, Tunisia</p>
            </div>

            <div class="email">
              <i class="fa-solid fa-envelope"></i>
              <h4>Email:</h4>
              <p>ahmedagriconsulting@gmail.com</p>
            </div>

            <div class="phone">
              <i class="fa-solid fa-phone"></i>
              <h4>Call:</h4>
              <p>+216 29 415 141</p>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d155763.23795130682!2d10.740523372719934!3d34.73970158883996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e10e1809e89b99%3A0x4dd0a5973a6cc371!2sSfax%2C%20Tunisia!5e0!3m2!1sen!2sus!4v1620626937061" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>




          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group mt-3">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <h3>AgriConsulting</h3>
    <p>Want to learn more about how we can support your farm? Get in touch with us today.</p>
    <div class="social-links">
      <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
      <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>AgriConsulting</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://www.linkedin.com/in/farah-yengui/">Farah YENGUI</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>

<!-- Vendor JS Files -->